OutAddress: 10026

Listen: {{ clamav_container_name }}:10025

ClamAddress: /var/run/clamav/clamd.ctl

Header: X-AV-Checked: ClamAV using ClamSMTP@{{mail_domain}} %d

TempDirectory: /var/spool/clamsmtp

PidFile: /var/run/clamsmtp/clamsmtpd.pid

User: clamsmtp

VirusAction: /etc/clamav/virusaction.sh
#VirusAction: /bin/echo "Virus found: %v" >> /var/log/clamav/virus.log

